# =========================
# Compilazione C/C++ e HPC
# =========================
*.o
*.out
*.so
*.a
*.exe

# Se i tuoi eseguibili (es. compilati con mpicc o gcc) non hanno estensione,
# puoi ignorarli inserendo il loro nome esatto qui sotto:
# nome_del_tuo_eseguibile

# =========================
# Intel Advisor / OneAPI
# =========================
# Ignora le cartelle di analisi grezze (i database SQLite pesanti)
*/e000/
e000/
advi_results/
advisor_project/

# File temporanei o di progetto di Advisor
*.advixe
*.advixeproj
*.advixeexp

# Snapshot compressi di Advisor 
# (Scommentalo se preferisci usare un cloud esterno invece di GitHub per i file .advixeexpz)
# *.advixeexpz

# =========================
# Output Dati e Log
# =========================
#*.log
*.dat
#*.csv

# =========================
# Editor di testo e OS
# =========================
# File temporanei di Vim/Nano
*~
*.swp

# Configurazione IDE (es. VSCode)
.vscode/

# File di sistema spazzatura
.DS_Store
Thumbs.db